<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users_Page</title>
</head>
<body>
    <h1>My Friends</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
                <th> Created At </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            {% for spiders in my_users: %}
            <tr>
                <td> {{spiders.id}} </td> 
                <td><a href="/show_user/{{users.id}}">{{spiders.first_name}}</a></td>
                <td> {{spiders.last_name}} </td>
                <td> {{spiders.email}} </td>
                <td> {{spiders.created_at}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/user/form">Add New Friend</a>
    
</body>
</html>